:root{
  --logo-section-width: 33%;
  --form-section-width: 67%;
  --form-maring-left: 50px;
}

@font-face {
  font-family: 'imperial_scriptregular';
  src: url('assets/fonts/imperialscript-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/imperialscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

em {
  font-size: inherit;
  font-style: italic;
}

.logo-section {
  background-image: url("assets/aaron-burden-TNlHf4m4gpI-unsplash.jpg");
  background-size: cover;
  width: var(--logo-section-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-section div {
  background-color: #00000044; /* Partial transparent */
  color: white;

  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 100%;
  height: 120px;
  padding: 10px 0;
  margin-top: 200px;

  justify-content: center;
}

#image-logo {
 height: 100%;
}

.logo-section div h1 {
  align-self: center;
  font-family: 'imperial_scriptregular';
  font-size: 5rem;
}

.logo-section p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.logo-section p a {
  color: white;
}

.logo-section p a:hover {
  color: gray
}

.form-section {
  width: var(--form-section-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.description-text {
  margin-top: 150px;
}
.description-text p {
  font-size: 2rem;
  margin: 20px 120px 20px var(--form-maring-left);
}

form {
  width: 100%;
  margin-top: 30px;
  /* border: 1px solid red; */
}

.form-data-inputs {
  box-shadow: 0px 5px 10px gainsboro;
  padding-left: var(--form-maring-left);
  padding-right: 200px;
  padding-bottom: 50px;
}

.form-data-inputs h2 {
  font-size: 2rem;
}

.form-data-inputs div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 15px;
}

.form-data-inputs div p {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 300px;
}

.form-data-inputs div p label {
  letter-spacing: .2rem;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: .4rem 0 .4rem 1rem;
}

/* input[type="text"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible {
  border: 2px solid rgb(0, 140, 255);
} */

input:invalid {
  border: 1px solid red;
  border-radius: 5px;
}

  /* input[type="text"]: {
    border: 2px solid blue;
  } */

form button {
  margin-top: 20px;
  margin-left: var(--form-maring-left);
  margin: 30px 0 30px var(--form-maring-left);

  padding: 15px 50px;
  font-size: 1.5rem;
  color:white;
  background-color: #333333;

  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 8px gainsboro;
}

form button:hover {
  background-color: #444444;
  cursor: pointer;
}

form button ~ p {
  margin-left: var(--form-maring-left);
  font-size: 1.25rem;
}

form button ~ p a {
  color: goldenrod;
  font-size: inherit;
  text-decoration: none;
}